		/* top样式 */
		html,body{
			width: 100%;
			height: 100%;
		}
		body{
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			display: -webkit-flex;
			display: -moz-flex;
			display: -o-flex;
			display: flex;
			overflow: hidden;
		}
		.top{
			position: relative;
			z-index: 99999;
			-webkit-flex-basis: 80px;
			-moz-flex-basis: 80px;
			-o-flex-basis: 80px;
			flex-basis: 80px;
			background: #333;
			height: 80px;
		}
		.top-c{
			position: relative;
			min-width: 1366px;
			height: 80px;
		}
		.logo{
			margin-left: 70px;
			margin-top: 8px;
		}
		.logo,.logo h1,.logo img{
			float: left;
		}
		.tit{
			height: 68px;
			line-height: 68px;
			margin-left: 40px;
			font-weight: normal;
			color: #fff;
		}
		.top-con{
			height: 80px;
			position: relative;
		}
		.top-tit{
			height: 80px;
			line-height: 80px;
			text-align: center;
			color: #fff;
			font-style: italic;
			padding-right: 40px;
		}
		.singleout{
			position: absolute;
			height: 80px;
			line-height: 80px;
			right: 0;
			top: 0;
			margin-right: 50px;
			font-size: 14px;
			color: #8F8F8F;
		}
		.selectbtn{
			position: absolute;
			top: 40%;
			left: 90%;
			display: inline-block;
			background: url('../../imgs/showhideb.png');
			background-position:0% 0%;
			margin-left: 20px;
			cursor: pointer;
			width: 16px;
			height: 16px;
		}
		.singleOutBox{
			position: absolute;
			left: 50%;
			top: 100%;
			width: 80px;
			height: 80px;
			border: 1px solid #ccc;
			background: #fff;
			display: none;
			z-index: 9999999;
		}
		.singleOutBox div{
			line-height: 26px;
			text-align: center;
		}
		.singleOutBox a{
			color: #666;
		}
		.singleOutBox .outuser{
			color: #f66666;
		}
		/* left right 父级盒子 */
		.pageCont{
			width: 100%;
			height: 100%;
			/* overflow: auto; */
			-webkit-flex: 1;
			-moz-flex: 1;
			-o-flex: 1;
			flex: 1;

			flex-direction: row;
			display: flex;
		}
		/*                       con样式 */
		.left{
			min-width: 270px;
				-webkit-flex-basis: 270px;
			-moz-flex-basis: 270px;
			-o-flex-basis: 270px;
			flex-basis: 270px;
			background: #fff;
			height: 100%;
		}
		.left-con{
			box-sizing: border-box;
			width: 269px;
			border-right: 1px solid #eee;
			height: 100%;
			overflow-y: auto;
		}

		/* left 内部元素 */
		.menu_list div{
			display: none;
		}
		.menu_head{
			height: 76px;
			line-height: 76px;
			padding-left: 32px;
			font-size: 18px;
			color: #525252;
			cursor: pointer;
			position: relative;
			margin: 0;
			font-weight: normal;
			/* background:  url('../../imgs/pro_add.png') center right no-repeat; */
			font-family: '微软雅黑';
		}
		.menu_head:hover{
			background: #e9eef1;
		}
		.menu_head img{
			width: 36px;
			height: 36px;
			padding-top: 20px;
			padding-left: 18px;
			padding-right: 12px;
		}
		.menu_body{
			line-height: 38px;
			background: #fff;
		}
		.menu_body a{
			display: block;
			height: 38px;
			line-height: 38px;
			color: #777;
			background: #fff;
			text-decoration: none;
			font-size: 14px;
			text-align: center;
		}
		.menu_head a{
			color: #525252;
		}
		.menu_body a:hover{
			transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			-o-rotation: .5s;
			text-decoration: none;
			background: #f1f1f1;
		}
		/* 									right */
		.right{
			overflow: auto;
			-webkit-flex: 1;
			-moz-flex: 1;
			-o-flex: 1;
			flex: 1;
		}
		.right-con{
			min-width: 1096px;
			height: auto;
		}