/* 创建用户 */

/* 表 */
form{
	padding-left: 33px;
	padding-top: 54px;
	font-size: 14px;
	color: #4F4F4F;
}

/* 验证提示信息 */
/* form p span:last-child,.bind_cont div:last-child{
	display: inline-block;
	margin-left: 15px;
	font-size: 12px;
	line-height: 32px;
	color: #f66;
} */

.tables p {
	margin-bottom: 20px;
}
.tables p span:nth-child(1){
	display: inline-block;
	width: 100px;
	height: 32px;
}

.bind_cont div{
	margin-bottom: 10px;
}

input[type='text'],input[type='password']{
	width: 37%;
	height: 32px;
	border: 1px solid #d9d9d9;
	background: #fff;
	padding-left: 15px;
	box-sizing: border-box;
	border-radius: 4px;

	font-size: 12px;
}
input[type='radio']{
	margin-left: 10px;
}
input[name='sex']{
	margin-right: 20px;
	vertical-align:middle;
}


/* 绑定 */
.bind{
	width: 100%;
	margin-bottom: 20px;
}
.bind p{
	width: 100px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	float: left;
}
.bind span,.bind p{
	cursor:pointer;
	-moz-user-select:none; /*火狐*/
	-webkit-user-select:none; /*webkit浏览器*/
	-ms-user-select:none; /*IE10*/
	-khtml-user-select:none; /*早期浏览器*/
	user-select:none;
}
.bind_cont{
	width: 60%;
	min-height: 130px;
	float: left;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 10px 10px;
}
.bind .allt {
	height: 26px;
	width: 100px;
	line-height: 26px;
	padding: 0;
	margin: 0 0 10px 0;
}
.bind_cont span{
	display: inline-block;
	padding: 0 15px;
	font-size: 12px;
	line-height: 24px;
	color: #d9d9d9;
	height: 24px;
	border-radius: 12px;
	border: 1px solid #d9d9d9;
	transition: 0.3s;
	margin-bottom: 10px;
}

.bind_cont .labeltrue{
	background: #6192d6;
	border-color: #6192d6;
	color: #fff;
}
.bind_cont span:hover{
	color: #fff;
	background: #6192d6;
	border: 1px solid #6192d6;
}
.bind_cont input{
	display: none;
}

/* 专属div */
.plate {
	width: 100%;
	height: 34px;
	color:#6f6f6f;
	margin-bottom: 10px;
	border-bottom: 1px solid #d9d9d9;
}
.bind .plate p{
	width: auto;
	height: 34px;
	line-height: 24px;
	box-sizing: border-box;
	margin: 0;
}
.bind .plate p:first-child{
	padding-left: 10px;
	float: left;
}
/* .bind .plate p:last-child{
	float: right;
}
.bind .plate p:last-child a{
	display: inline-block;
	width: auto;
	height: 16px;
	line-height: 16px;

	margin: 0 5px;
	padding: 0  8px;

	font-size: 12px;
	color:#6f6f6f;
	border:1px solid #d9d9d9;
	border-radius: 3px;

} */


/* textarea */
.describe{
	width: 100%;
	margin-bottom: 20px;
}
.describe p{
	width: 100px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	float: left;
}
.describe textarea{
	width: 60%;
	min-height: 60px;
	float: left;
	font-size: 12px;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 10px 10px;
	background: transparent;
}

/* 添加到分组 */
.addgroup select{
	width: 100%;
	height: 100%;
	border: none;

	width: 60%;
	min-height: 130px;
	float: left;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	box-sizing: border-box;
}
.addgroup select option{
	box-sizing: border-box;
  color: #ccc;
  height: 26px;
  line-height: 26px;
  padding-left: 20px;
  padding-top: 3px;
  width: 100%;
}
.addgroup select option:hover{
	background:rgba(238,238,238,1);
}

/* submit */
.submit,.request{
	display: inline-block;
	padding: 0 22px;
	background: #6192D6;
	height: 32px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 32px;
	color: #fff;
	margin-right: 10px;
	cursor: pointer;
}
