@charset "utf-8";
body{
	width: 100%;
	min-height: 720px;
}

 a{
	font-family: "微软雅黑";
	color: #6192D6;
}

.btn{
	margin-left: 32px;
	margin-top: 16px;
	width: 96%;
}
.edit{
	float: right;
}
.edituser, .btn .adduser , .edit button , .btn .addid{
	background: #6192D6;
	border: none;
	color: #fff;
	font-size: 14px;
	text-align: center;
	width: 100px;
	height: 28px;
	line-height: 26px;
	cursor: pointer;
	border-radius: 3px;
	display: inline-block;
	font-family: '微软雅黑';
	font-size: 14px;
}

.idcard {
	min-width: 700px;
	width: 96%;
	margin-left: 32px;
	margin-top: 16px;
	box-sizing: border-box;
	font-size: 12px;

}
.idcard table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	color: #959595;
}
.idcard table td:nth-child(1){
	text-align: center;
}
.idcard th {
	border: 1px solid #ccc;
	height: 44px;
}
.idcard td {
	border: 1px solid #ccc;
	height: 40px;
	padding: 0 15px;
	box-sizing: border-box;
}
/* tr */
.table-tit {
	height: 46px;
	color: #333;
	background: #FCFCFC;
}
.number{
	width: 5%;
}
.group{
	width: 65%;
}
.people{
	width: 30%;
}
.more {
	color: #6192D6;
	cursor: pointer;
}
/* td click w*h */
tr td:nth-child(2) span:first-child{
	display: inline-block;
	height: 100%;
	line-height: 40px;
}

.level1 , .level2 , .level3{
	width: 100%;
	height: 40px;
}

/* 重名名 添加 删除 间距 */
#idcard input{
	border: none;
	background: transparent;
	cursor: default;
}
.idcard tr td{
	box-sizing: border-box;
}
.level1 td:nth-child(2){
	padding-left: 50px;
}
.level2 td:nth-child(2){
	padding-left: 90px;
}
.level3 td:nth-child(2){
	padding-left: 130px;
}
.uid{
	position: relative;
}
/* a show/hide */
td .uid{
	visibility: hidden;
}
td:hover .uid{
	visibility: visible;
}



/* new alert */
.alert{

	display: none;
	position: fixed;
	top: 10%;
	left: 50%;

	margin-left: -425px;
	width: 610px;
	height: 430px;
	color: #333;
	background: #fff;
	padding:0px 30px;
	box-sizing: border-box ;
	box-shadow:  0 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.alert-tit{
	width: 100%;
	height: 40px;
	background: #6192D6;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.userGroup{
	margin-top: 30px;
	width: 100%;
	height: 300px;
}



/* 负责人 */
.principal{
	font-family: "微软雅黑";
	float: left;
	width: 200px;
	height: 300px;
}
.principal h3,.principal select{
	font-weight: normal;
	box-sizing: border-box;
	width: 200px;
}
.principal h3{
	box-sizing: border-box;
	padding-left: 15px;
	height: 40px;
	border: 1px solid #eee;
	line-height: 40px;
	color: #aaa;
}
.principal select{
	background: transparent;
	height:200px;
	font-size: 12px;
	border:1px solid #eee;

	margin: 10px 0;
}
.principal select option{
	box-sizing: border-box;
	padding-left: 15px;
	width: 100%;
	height: 24px;
	padding-top: 3px;
	line-height: 24px;
	color: #ccc;
}
.principal select option:hover{
	background: #eee;
}
.principal button{
	line-height: 32px;
	height: 32px;
	width: 200px;
}
.principal button:hover{
	background: #75a4e4;
}
/* seuser  组员 */
.seuser{
	float: right;
	width: 300px;
	height: 300px;
}
.seuser p{
	position: relative;
	width: 100%;
	height: 32px;
	margin-bottom: 10px;
}
.sp1 span:nth-child(1){
	float: left;
	display: inline-block;
	width: 100px;
	height: 32px;
	line-height: 32px;
	color: #aaa;
	font-size: 14px;
}
.sp1 select{
	float: left;
	width: 200px;
	height: 30px;
	padding-left: 5px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 4px;
	color: #aaa;

}
.sp2 input{
	box-sizing: border-box;
	padding: 0 15px;
	border: 1px solid #eee;
	width:100%;
	border-radius: 15px;
	height: 30px;
	background: transparent;
}
.sp2 a img{
	position: absolute;
	top: 5px;
	right: 10px;
	width: 20px;
	height: 20px;
}
/* right select */
.ss2 {
	margin-bottom: 10px;
	width: 100%;
	height: 165px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 4px;
	color: #aaa;
}
.ss2 option{
	box-sizing: border-box;
	padding-left: 15px;
	width: 100%;
	height: 24px;
	padding-top: 3px;
	line-height: 24px;
	color: #ccc;
}
.seuser button{
	line-height: 32px;
	height: 32px;
	width: 300px;
}
.ss2 option:hover{
	background: #eee;
}

/*  alert bth*/
/* 错误信息提示 */
.btn span{
	float: left;
	height: 30px;
	line-height: 32px;
	display: inline-block;


	font-size: 12px;
	color:#f66;
}
/* 按钮 */
.alert .btn{
	width: 100%;
	margin: 10px 0;
}
.alert .btn a{
	float: right;
	box-sizing: border-box;
	border: 1px solid #6192D6;
	width: 90px;
	height: 30px;
	color: #6192D6;
	line-height: 30px;
	font-size: 14px;
	border-radius: 14px;
	background: transparent;
	margin: 0;
}
